<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UnmatchpaymentExportFile.Properties.Settings.BAACINSConnectionString"
            connectionString="Data Source=alldev;Initial Catalog=BAACINS;User ID=sa;Password=baac@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DBServer" value="alldev"/>
    <add key="DBName" value="BAACINS"/>
    <add key="DBUserID" value="sa"/>
    <add key="DBPwd" value="baac@123"/>
    <add key ="TimeOut" value="500000"/>
    <add key="PathFileSPIN" value="C:\data\Unmatchpayment\spin\ToCBS\"/>
    <add key="PathFileGL" value="C:\data\Unmatchpayment\GL\ToCBS"/>
    <add key="PathLogs" value="C:\data\Unmatchpayment\Log"/>

    <add key ="StoredSPINExport" value="[UP].[SP_SPINExport]"/>
    <add key ="FileSPINName" value="BLD410"/>
    
    <add key ="StoredGLExport" value="[UP].[SP_GLExport]"/>
    <add key ="FileGLName" value="9999BLPD"/>
    
    <add key ="UpdateMatchingID" value="[UP].[SP_UpdateMatchingID]"/>
    
  </appSettings>
</configuration>